body {
    background-color: #FB6B6B;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    font-size: 36px;
}

.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
}

.perguntas div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    justify-content: space-between;

}

.perguntas div p {
    color: #333333;
    margin-left: 10px;
}

.perguntas div img {
    margin-right: 10px;
}

.exibicaopergunta {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.exibirquestion {
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 299px;
    height: 131px;
    display: flex;
    flex-direction: column;
}
.exibirquestion img{
    width:30px;
    height:20px;
}
.exibirquestion button{
    width: 100px;
    height: 80px;
}
.exibiranswer {
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 299px;
    height: 131px;
    display: flex;
    flex-direction: column;
}
.exibiranswer img{
    width:30px;
    height:20px;
}
.exibiranswer button{
    width: 100px;
    height: 80px;
}
.hide{
    display: none;
}
footer{
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    height: 111px;
    display: flex;
    justify-content: center;
}
footer button{
    height: 37.17px;
    margin-top:9px;
    margin-left: 7.74px;
    border-radius: 5px;
    color: #FFFFFF;
    width: 85.17px;


}
.naolembrei{
    background: #FF3030;
}
.quasenaolembrei{
    background: #FF922E;
}
.zap{
    background: #2FBE34;
}
.errado{
   color:#FF3030; 
}
.blue{
    color:blue;
}
.hidden{
    display: none;
}

.mostrar{
    display: block;
}
.cardyellow{
    display: flex;
    flex-direction: row;
}